<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LOGIN</title>
		<link rel="stylesheet" href="/css/jass.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
        <div class="jumbotron text-center">
            <h1>Welcome To Whack</h1>
            <h2>The Community Driven Project Platform</h2>
        </div>
        