<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whack</title>
    <style>
        body{
            background:linear-gradient(to bottom, #007BFF, #00BFFF) ;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome To Whack</h1>
        <h2>The Community Driven Project Platform</h2>
    </div>
    <div>
        <button type ="button" class="btn btn-dark btn-lg mx-auto">Get Started!</button>
    </div>
</body>
</html>