{{!-- <h3>comments</h3>
<ul>
    {{#each comments}}
    <li>{{name}} - {{commentText}}</li>
    {{/each}}
</ul>

<h3>Add a Comment</h3>
<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form id="post-form">
                <label for="text-box">Comment</label>
                <textarea class="form-control mb-4" id="title"></textarea>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-secondary m-3">Create</button>
                </div>
        </form> 
    </div>
</div> --}}