


<div>
    <h3>Active Projects</h3>
    <a href="/project/create">Create Project</a>
</div>

<div class="projects-container">
    {{#each projects}}
    <a href="/home/{{id}}" class="project">
        <h3>{{name}}</h3>
        <p>{{missions_statement}}</p>
        <p>Manager: {{this.username}}</p>
    {{/each}}
</div>



<script src="/js/logout.js"></script>