<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wack
    </title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@blaze/css@x.x.x/dist/blaze/blaze.css" />
      <script type="module" src="https://unpkg.com/@blaze/atoms@x.x.x/dist/blaze-atoms/blaze-atoms.esm.js"></script>
      <script nomodule="" src="https://unpkg.com/@blaze/atoms@x.x.x/dist/blaze-atoms/blaze-atoms.js"></script>
  </head>
  <body>


    <div role="menu" class="c-card c-card--menu .u-letter-box-none">
        <button role="menuitem" class="c-card__control">Menu 1</button>
        <button role="menuitem" class="c-card__control">Menu 2</button>
        <div role="separator" class="c-card__item c-card__item--divider">Divider</div>
        <button role="menuitem" class="c-card__control">Menu 3</button>
        <button role="menuitem" class="c-card__control">Menu 4</button>
        <button role="menuitem" class="c-card__control" disabled>Menu item disabled</button>
        <button role="menuitem" class="c-card__control c-card__control--active">Menu item active</button>
        <button role="menuitem" class="c-card__control">Menu 5</button>
        <button role="menuitem" class="c-card__control">Menu 6</button>
        <button role="menuitem" class="c-card__control">Menu 7</button>
        <button role="menuitem" class="c-card__control">Menu 8</button>
        <button role="menuitem" class="c-card__control">Menu 9</button>
        <button role="menuitem" class="c-card__control">Menu 10</button>
      </div>
    </body>
    </html>