
<div class="Uform">
	<form>
		<h1>Login</h1>
		<div class="content">
			<div class="input-field">
				<input type="text" placeholder="EMAIL" autocomplete="nope" id="login-Username" />
			</div>
			<div class="input-field">
				<input type="password" placeholder="PASSWORD" autocomplete="login-Password" />
			</div>
		</div>
		<div class="action">
			<button id="GetSignUpPage">Sign Up</button>
			<button id="Login-submit">Login</button>
		</div>
	</form>
</div>
<script src="./js/Login.js"></script>

<div>
  <div>
    <h2>Login</h2>
    <form>
      <div>
        <label>Email:</label>
        <input type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div>
    <h2>Signup</h2>
    <form>
      <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

