
<div class="Uform">
	<form>
		<h1>Login</h1>
		<div class="content">
			<div class="input-field">
				<input type="text" placeholder="EMAIL" autocomplete="nope" id="login-Username" />
			</div>
			<div class="input-field">
				<input type="password" placeholder="PASSWORD" autocomplete="login-Password" />
			</div>
		</div>
		<div class="action">
			<button id="Login-submit">Login</button>
		</div>
    <a href="/signup">Sign up</a>
	</form>

</div>
<script src="./js/login.js"></script>

