<div class="center">
  <div class="card-header">
    <div>
        <p>Log In</p>
    </div>
    <div class="card">
        <div class="card-body">
            <form id="login-form">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input class="form-control" type="text" id="username">
                </div>

				<div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="input" class="form-control" id="password">
                </div>

                <div class="center">
                    <button type="submit" class="btn btn-dark" type="button">Log In</button>
                </div>

            </form>
            <a href="/signup" class="link-dark center">Sign Up</a>
        </div>
    </div>
  </div>
</div>
<script src="./js/login.js"></script>


