<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form id="post-form">
                <label for="text-box">Title</label>
                <textarea class="form-control mb-4" id="title"></textarea>

               
                <label>Mission Statement</label>
                <textarea class="form-control" id="content" style="height: 100px"></textarea>

                 <label>Initial Tasks</label>
                <textarea class="form-control" id="content" style="height: 100px"></textarea>
               
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-secondary m-3">Create</button>
                </div>
        </form> 
    </div>
</div>