<div>
    <h3>Active Projects</h3>
</div>

<div class="projects-container">
    {{#each projects}}
    <div class="project">
        <h3>{{name}}</h3>
        <p>{{missions_statement}}</p>
        <p>Manager: {{User.name}}</p>
    </div>
    {{/each}}
</div>

<script src="/js/projects.js"></script>

       
