<div class="Uform">
	<form>
		<h1>Signup</h1>
		<div class="content">
			<div class="input-field">
				<input type="text" placeholder="USERNAME" autocomplete="nope" id="signup-Username" />
			</div>
			<div class="input-field">
				<input type="text" placeholder="EMAIL" autocomplete="nope" id="signup-Email" />
			</div>
			<div class="input-field">
				<input type="password" placeholder="PASSWORD" autocomplete="nope" id="signup-Password" />
			</div>
			<div class="input-field">
				<input type="number" placeholder="ORGANIZATION ID" autocomplete="nope" id="signup-orgID" />
			</div>
		</div>
		<div class="action">
			<button id="SignUp-submit">Sign Up</button>
			<button id="GetLoginPage">Login</button>
		</div>
	</form>
</div>
<script src="./js/signup.js"></script>