<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div>
            <p>Sign Up</p>
        </div>
            <div>
                <div>
                    <form id="sign-up-form">
                        <div class="mb-3">
                            <input type="name" placeholder="NAME" id="name">
                        </div>
						<div class="mb-3">
                    		<input type="email" placeholder="EMAIL" id="email">
                		</div>


                        <div class="mb-3">
                            <input type="password" placeholder="PASSWORD" id="password">
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark w-25" type="button">Sign Up</button>
                        </div>

                    </form>
                    <a href="/login" class="link-dark">Log In</a>
                </div>
            </div>
    </div>

</div>
<script src="./js/signup.js"></script>