* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #041ac2;
	font-family: "Rubik", sans-serif;
}

.projects-container {
	border: solid black;
	color: #d8d8d8;
	background-color: #2d3b55;
	margin: 35px;
	text-align: center;
}

.all-projects {
	margin: 35px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}