* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--main-color: blueviolet;
	--secondary-color: #2d3b55;
}

html {
	height: 100%;
}

body {
	background-color: var(--secondary-color);
	font-family: "Rubik", sans-serif;
	height: 100%;
}
nav {
	background: black;
	color: white;
	font-family: "Rubik", sans-serif;
	padding: 10px 20px;
}
nav ul li {
	display: inline;
}
nav ul li h1 {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	font-size: 30px;
}
nav ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	font-size: 20px;
}

#tasks {
	width: 75%;
	margin-right: 0px;
	float: right;
	display: inline;
	height: 900px;
}
#menu {
	width: 25%;
	margin-left: 0px;
	float: left;
	display: inline;
	height: 900px;
}

.c-table {
	width: 75%;
	margin-right: 0px;
	float: right;
	display: inline;
	height: 45%;
	background-color: white;
	text-align: center;
}

.c-card--menu {
	height: 100%;
	background-color: #2d3b55;
}
.c-table__caption {
}

.c-table__cell {
	color: black;
}

.scrollable {
	height: auto;
	overflow-y: auto;
}

#addprojButton {
	background-color: blueviolet;
	border-radius: 6px;
}

#joinprojButton {
	background-color: blueviolet;
	margin-bottom: 5px;
}

#projectMenu {
	width: 24%;
	height: 100%;
	max-height: 100%;
	object-fit: fill;
	margin: 0px;
	display: inline;
	position: absolute;
	display: flexbox-column;
	align-items: flex-end;
	background-color: #2d3b55;
}

.c-field {
	margin-bottom: 10px;
}

.c-card__item {
	background-color: white;
}

.c-card__control {
	margin-block: 5px;
}
.c-card__control {
	margin-block: 5px;
	--button-background: blueviolet;
}
.addbutton {
	padding-block: 10px;
	margin-left: 20px;
	font-size: 14px;
	min-width: 50px;
	background-color: blueviolet;
}
.c-table .c-card {
	max-width: 80%;
	margin-left: 20px;
	width: 500px;
}

.taskCaption {
	margin-left: 20px;
}

.c-table__caption {
	font-size: 30px;
	color: #2d3b55;
	vertical-align: middle;
	text-align: center;
	padding-left: 30px;
}

.cell {
	padding-inline: 5px;
}

.c_cell {
	padding-inline: 0px;
}
